
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>handy</title>
     <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
   
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"/>

    <link rel="stylesheet" href="css/style.css" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">

  </head>
  <body>
     <div id="navadaa">
        <div id="buttonss">
          <form id="form1" action="/login">
            <button type="submit">Log In</button>
          </form>
          <form id="form2" action="/signup">
            <button type="submit">Sign Up</button>
          </form>

         
    </div>
    <div id="loader">
        <div class="black" id="black0">
            <div class="black" id="black1">
                <div class="black" id="black2">
                    <div class="black" id="black3">
                        <div class="black" id="black4">
                            <div class="black" id="black5">
                                <div class="black" id="black6">
                                    <div class="black" id="black7">
                                        <div class="black" id="black8">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="showoff">
        <div class="nav">
            <div class="logoooo">
                <img src="images/logoo.png" alt="">
            </div>
            <div class="back">
                <p id="close">close</p>
            </div>
        </div>
        <div class="showoff1">
            <div class="showoff2">
                <div class="card1">
                  {{!-- <small>Open</small> --}}
                    <div class="p2card1">

                    </div>
                </div>
                <div class="card2">
                  <small>Next</small>
                    <div class="p2card2">

                    </div>
                </div>
            </div>
            <div class="product-d">

            </div>
        </div>
    </div>
    <div id="main" data-scroll data-scroll-section>
      <div class="sun"></div>
      

      <div id="first">
        <div id="logo">
        </div>
{{!-- 
        <div id="buttonss">
          <form id="form1" action="/login">
            <button type="submit">Log In</button>
          </form>
          <form id="form2" action="/signup">
            <button type="submit">Sign Up</button>
          </form>
        </div> --}}

        <div id="slideUp" data-scroll data-scroll-speed="-10">
          <div class="slide" id="slide1">
            <div class="carrd" id="carrd1">
              <h1>MAKE</h1>
            </div>
            <div class="carrd" id="carrd2">
              <h1>MAKE</h1>
            </div>
            <!-- <div class="card" id="card3">
                     <h1>Lorem ipsum dol</h1>
                 </div> -->
          </div>
          <div class="slide" id="slide2">
            <div class="carrd" id="carrd1">
              <h1>YOUR PLACE</h1>
            </div>
            <div class="carrd" id="carrd2">
              <h1>YOUR PLACE</h1>
            </div>
            <!-- <div class="card" id="card3">
                     <h1>Lorem ipsum dol</h1>
                 </div> -->
          </div>
          <div class="slide" id="slide3">
            <div class="carrd" id="carrd1">
              <h1>VIBE</h1>
            </div>
            <div class="carrd" id="carrd2">
              <h1>VIBE</h1>
            </div>
            <!-- <div class="card" id="card3">
                     <h1>Lorem ipsum dol</h1>
                 </div> -->
          </div>
        </div>

        <div class="fcard" id="fcard1" data-scroll data-scroll-speed="2"></div>
        <div class="fcard" id="fcard2" data-scroll data-scroll-speed="10"></div>
        <div class="fcard" id="fcard3" data-scroll data-scroll-speed="2"></div>
      </div>

      <div id="second">
        <h1>Handy</h1>
        <p id="secondPara">
          Handy welcomes you to connect, buy great artworks and sell up your creative works. Have these art masterpieces to create a great decor for your place and peace !
        </p>

        <div id="caaradp">
          <div id="caarad">
            <h3>INTEGRITY * ART *</h3>
          </div>
        </div>
      </div>

      <div id="third">
                <h3>
                  In this premium article, experts from PLASTARC share the many positive effects that certain kinds of art can bring to employees and visitors, as well as ideas about how to choose the best art for your workplace.
                </h3>
                <h4>
                 Fill your homes with top notch handicraft artifacts and let them channelize the perfect positive vibe in all your surroundings! 
                </h4>
                <div class="thirdCaards1" id="thirdCards6">
                  <video id="vid" autoplay muted loop src="videos/video1.mp4"></video>
                </div>
                <div class="thirdCaards1" id="thirdCards7">
                  <video id="vid" autoplay muted loop src="videos/video2.mp4"></video>
                </div>
                <div class="thirdCaards1" id="thirdCards8">
                  <video id="vid" autoplay muted loop src="videos/video3.mp4"></video>
              
                </div>
                <div class="thirdCaards1" id="thirdCards9">
                  <video id="vid" autoplay muted loop src="videos/video4.mp4"></video>
                </div>
                <div class="thirdCaards1" id="thirdCards10">
                  <video id="vid1" autoplay muted loop src="videos/video5.mp4"></video>
              
                </div>
                <div class="thirdCaards" id="thirdCards1">
                  <small>Click <br> here</small>
                  <video id="vid" autoplay muted loop src="videos/video1.mp4"></video>
                </div>
                <div class="thirdCaards" id="thirdCards2">
                   <small>Click <br> here</small>
                  <video id="vid" autoplay muted loop src="videos/video2.mp4"></video>
              
                </div>
                <div class="thirdCaards" id="thirdCards3">
                   <small>Click <br> here</small>
                  <video id="vid" autoplay muted loop src="videos/video3.mp4"></video>
              
                </div>
                <div class="thirdCaards" id="thirdCards4">
                   <small>Click <br> here</small>
                  <video id="vid" autoplay muted loop src="videos/video4.mp4"></video>
                </div>
                <div class="thirdCaards" id="thirdCards5">
                   <small>Click <br> here</small>
                  <video id="vid1" autoplay muted loop src="videos/video5.mp4"></video>
              
                </div>

               
 
      </div>

       <!-- bc -->

      <div class="page4">
        <h2>OUR PRODUCTS</h2>
        <div class="card-container" id="card-container" >
      
        </div>
 
        <div class="card-container" id="card-container1"  >
 
        </div>
 
        <div class="card-container" id="card-container2">
 
        </div>

         <div id="caaaradp">
          <div id="caaarad">
            <small>Make me <br>smile brighter</small>
          </div>
        </div>
        <div id="written">
          <div class="paraa" id="para1" >Creating art is therapy, where your
            memories serve as your therapist.
          </div>
          <div class="paraa" id="para2">The fact that I still find so much
            beauty in a handicraft is because my mother taught us to see not
            just the craft as a product but the craft as an embodiment of human
            creativity and human labor.</div>
          <div class="paraa" id="para3">It is fairy dust and wanderlust that
            guide our hands to create what our hearts desire.</div>
        </div>
      </div>
       
          <div id="seventh">
            <div id="about">
                <div class="ab" id="about1">
                    <div id="about11">
                        <h2>ABOUT US</h2>
                        <h2>HELP</h2>
                    </div>
                    <div id="about12">
                        <div class="about121" id="about1211">
                            <h3>OUR STORY</h3>
                            <h3>PRESS</h3>
                        </div>
                        <div class="about121" id="about1212">
                            <h3>FAQ</h3>
                            <h3>E-MAIL PRIVACY POLICY</h3>
                        </div>
                    </div>
                    <div id="about13">
                        <div class="about131" id="about1311">
                            <h3>LOOKBOOK</h3>
                            <h3>SUSTAINIBILITY</h3>
                        </div>
                        <div class="about131" id="about1312">
                            <h3>SHIPPING</h3>
                            <h3>TERMS AND CONDITIONS</h3>
                        </div>
                    </div>
                    <div id="about14">
                        <div class="about141" id="about1411">
                            <h3>STORES</h3>
                        </div>
                        <div class="about141" id="about1412">
                            <h3>RETURNS</h3>
                        </div>
                    </div>
                    <div id="about15">
                        <div class="about151" id="about1511">
                            <h3>CAREER</h3>
                        </div>
                        <div class="about151" id="about1512">
                            <h3>PRIVACY POLICY</h3>
                        </div>
                    </div>
                </div>
                <div class="ab" id="about2">
                    <div id="about21">
                        <h3>MEN</h3>
                        <h3>WOMEN</h3>
                        <h3>KIDS</h3>
                        <h3>GIFTS</h3>
                        <h3>SALE</h3>&nbsp;&nbsp;
                        <h4><i class="ri-search-line"></i></h4>
                    </div>
                    <h3>LIMITED EDITION</h3>
                    <div id="about22">
                        <h2>CONTACT US</h2> <br>
                        <h3>YOUR EMAIL HERE</h3>
                        <i class="ri-arrow-right-line"></i>
                    </div>
                </div>
            </div>
            <div id="myfoot">
                <div id="ekka">
                    <i class="ri-copyright-line"></i>
                    <h3>HANDY</h3>
                </div>
                <div id="dukka">
                    <h3>Shipping In Bhopal (en)</h3>
                    <h3 style="border-bottom: 2px solid black;">Change</h3>
                </div>
                <div id="icon">
                    <i class="ri-facebook-box-fill"></i>
                    <i class="ri-instagram-line"></i>
                    <i class="ri-linkedin-fill"></i>
                    <i class="ri-messenger-line"></i>
                    <i class="ri-whatsapp-line"></i>
                    <i class="ri-twitter-fill"></i>
                </div>
            </div>
        </div>


    </div>




    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
        integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
     <script src="js/animate.js"></script>
     {{!-- <script>
    function myFunc() {
        window.location.href = "cards";
    }
    </script> --}}
  </body>
</html>
