<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>handy</title>
     <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
   

    <!--- My CSS Link-->
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>

    <main>
        <section class="learn">
           <h1>Learn to code by<br>watching others</h1>
           <p>See how experienced developers solve problems in real-time. <br> Watching scripted tutorials is great, but understanding how <br> developers think is invaluable.</p>  
        </section>

        <section>
          
            
    <div class="sign-up">
        <form  class="signup-form" action="signup" method="post" >
            <div class="form-btn">
                <input type="text" placeholder="Name" name="name" required>
                <img class="icon" src="images/icon-error[1] (1).svg" alt="Error">
                <p class="msg">Name</p>
            </div>

          

            <div class="form-btn">
                <input type="email" placeholder="Email Address" name="email" required>
                <img class="icon" src="images/icon-error[1] (1).svg" alt="Error">
                <p class="msg">Looks like this is not an email</p>
            </div>

            <div class="form-btn">
                <input type="password" placeholder="Password" name="password" required>
                <img class="icon" src="images/icon-error[1] (1).svg" alt="Error">
                <p class="msg">Password cannot be empty</p>
            </div>

            <input id="submit-btn" type="submit" value="REGISTER" id="btn">

            <p class="terms">By clicking the button, you are agreeing to our <span><a href="#">Terms and Services</a></span></p>
        </form>
        </section>
    </main>
    
</body>
</html>